.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* 
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
*/

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.btn {
  background-color: #26b38c;
  color: white;
  font: inherit;
  border: 1px solid #178849;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: lightgreen;
  color: black;
}
.btn-toggle {
  background-color: red;
  color: black;
}
.btn-toggle:hover {
  background-color: salmon;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
