/* .Person {
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(1, 1, 1, 0.3);
  width: 60%;
  margin: 15px auto;
  padding: 8px;
}

@media (min-width: 500px) {
    .Person {
        width: '450px';
    }
} */
